
<div class="container-fluid bg-light">
  <div class="container py-4">
    <div class="row justify-content-center">
      <div class="col-12 text-left">
        <h1 class="display-4 fw-bold text-dark border-bottom pb-3 mb-4">TuSegundazo.com</h1>
      </div>
      <img src="segundazo-header.png" alt="TuSegundazo.com" class="img-fluid col-md-10">
    </div>
  </div>
</div>


<app-vehiculo-list></app-vehiculo-list>


<footer class="footer mt-auto py-3 bg-light text-dark">
  <div class="container text-center">
    <span>Contact us: +57 3102105253 - info&#64;tusegundazo.com - &#64;tusegundazo</span>
  </div>
</footer>

<router-outlet />
